In [1]:
import seaborn as sns

In [4]:
a=sns.load_dataset('iris')

In [5]:
a

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
a.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
x=a.drop(['species'],axis=1)
out = a['species']

In [21]:
len(x)

150

In [22]:
len(out)

150

In [23]:
x.shape

(150, 4)

In [24]:
out.shape

(150,)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix

In [25]:
x_train ,x_test,out_train , out_test= train_test_split(x,out)

In [26]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
70            5.9          3.2           4.8          1.8
84            5.4          3.0           4.5          1.5
35            5.0          3.2           1.2          0.2
125           7.2          3.2           6.0          1.8
56            6.3          3.3           4.7          1.6
..            ...          ...           ...          ...
148           6.2          3.4           5.4          2.3
87            6.3          2.3           4.4          1.3
39            5.1          3.4           1.5          0.2
97            6.2          2.9           4.3          1.3
4             5.0          3.6           1.4          0.2

[112 rows x 4 columns]

In [28]:
out_train

70     versicolor
84     versicolor
35         setosa
125     virginica
56     versicolor
          ...
148     virginica
87     versicolor
39         setosa
97     versicolor
4          setosa
Name: species, Length: 112, dtype: object

In [29]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
106           4.9          2.5           4.5          1.7
72            6.3          2.5           4.9          1.5
24            4.8          3.4           1.9          0.2
3             4.6          3.1           1.5          0.2
115           6.4          3.2           5.3          2.3
69            5.6          2.5           3.9          1.1
113           5.7          2.5           5.0          2.0
76            6.8          2.8           4.8          1.4
28            5.2          3.4           1.4          0.2
105           7.6          3.0           6.6          2.1
8             4.4          2.9           1.4          0.2
143           6.8          3.2           5.9          2.3
131           7.9          3.8           6.4          2.0
31            5.4          3.4           1.5          0.4
147           6.5          3.0           5.2          2.0
117           7.7          3.8           6.7          2.2
57            4.9          2.4           3.3          1.0
32            5.2          4.1           1.5          0.1
94            5.6          2.7           4.2          1.3
133           6.3          2.8           5.1          1.5
119           6.0          2.2           5.0          1.5
99            5.7          2.8           4.1          1.3
144           6.7          3.3           5.7          2.5
142           5.8          2.7           5.1          1.9
96            5.7          2.9           4.2          1.3
91            6.1          3.0           4.6          1.4
126           6.2          2.8           4.8          1.8
5             5.4          3.9           1.7          0.4
92            5.8          2.6           4.0          1.2
93            5.0          2.3           3.3          1.0
123           6.3          2.7           4.9          1.8
104           6.5          3.0           5.8          2.2
49            5.0          3.3           1.4          0.2
41            4.5          2.3           1.3          0.3
67            5.8          2.7           4.1          1.0
11            4.8          3.4           1.6          0.2
55            5.7          2.8           4.5          1.3
23            5.1          3.3           1.7          0.5

In [30]:
out_test

106     virginica
72     versicolor
24         setosa
3          setosa
115     virginica
69     versicolor
113     virginica
76     versicolor
28         setosa
105     virginica
8          setosa
143     virginica
131     virginica
31         setosa
147     virginica
117     virginica
57     versicolor
32         setosa
94     versicolor
133     virginica
119     virginica
99     versicolor
144     virginica
142     virginica
96     versicolor
91     versicolor
126     virginica
5          setosa
92     versicolor
93     versicolor
123     virginica
104     virginica
49         setosa
41         setosa
67     versicolor
11         setosa
55     versicolor
23         setosa
Name: species, dtype: object

In [31]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [33]:
model = LogisticRegression()

In [34]:
model.fit(x_train,out_train)

C:\anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [49]:
b=model.predict(x_test)
b

array(['versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'virginica',
       'setosa', 'virginica', 'virginica', 'setosa', 'virginica',
       'virginica', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'setosa', 'setosa', 'versicolor',
       'setosa', 'versicolor', 'setosa'], dtype=object)

In [50]:
accuracy_score(out_test ,b)

0.8947368421052632

In [54]:
classification_report(out_test , b)

'              precision    recall  f1-score   support\n\n      setosa       1.00      1.00      1.00        11\n  versicolor       0.75      1.00      0.86        12\n   virginica       1.00      0.73      0.85        15\n\n    accuracy                           0.89        38\n   macro avg       0.92      0.91      0.90        38\nweighted avg       0.92      0.89      0.89        38\n'

In [55]:
confusion_matrix(out_test,b)

array([[11,  0,  0],
       [ 0, 12,  0],
       [ 0,  4, 11]], dtype=int64)